
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
	position: relative;
	font-size: 1.8rem;
}
.back-full{
	position: absolute;
	height: 100vh;
	width: 100%;
	background: url(images/full.jpg) no-repeat;
	background-size:contain;
	background-position: 50%;
}
.back-full.fullback{
	background: url(images/fullback.jpg) no-repeat;
	background-size:contain;
	background-position: 50%;
}
.back-full.fullback .inner-back{display: none}
.inner-back{
	width: 100%;
	height: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+56 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 56%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 56%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 56%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.back{
	position: absolute;
	width: 50%;
	top: 0;
	min-height: 100vh;
	max-width: 1000px;
	z-index: 1;
	display: none;
	background-size: contain;
	background-repeat:no-repeat;
	background-position: 50%; 
}
.invis{
	display: inline-block;
	width: 45%;
	height: 50px;
	
}
/* .back.back-left{
	background-image: url(images/left-bg.jpg);
	background-position-x:right; 
	right: 50%
}
.back.back-right{
	background-image: url(images/right-bg.jpg);
	background-position-x: left;
	left: 50%;
} */
.wrapper{
	position: relative;
	z-index: 10;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background: #000;
	overflow: hidden
}
.header{
	z-index: 10;
	padding-left: 15%;
	padding-top: 30px;
	flex: 1 1 100%;
}
.logo{
	width: 500px;
	height: 150px;
	background: url(images/logo.png) no-repeat;
	background-size: contain
}
.footer{
	z-index: 10;
	width: 100%;
	background-color: transparent;
	padding: 10px 20px 350px;
}
.container{
	width: 50%;
	position: relative;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.center{
	position: relative;
	width: 80%;
	max-width: 700px;
}
.message{
	max-width: 700px;
	opacity: 0;
	position: absolute;
	border-radius:20px; 
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  margin-top: -300px;
}
@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
.message.is-danger.slide-1{
	width: 75%;
	margin: -50px 0 0 -200px;
}
.message.is-danger.slide-1 span{
	font-size: 1.5rem;
}
.message.is-danger.slide-1 a{
	border: none;
}
.active {
	z-index: 10;
	opacity: 1;
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  margin-top: 0
}

.is-danger{
	background-color: #ed217c;
}
.message.is-danger .message-header{
	background-color: #ed217c;
} 
.message-header{
	border-radius:20px 20px 0 0;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 1.8rem;
	padding: 15px 10px
	}
.message-header+.message-body{
	border-radius:0 0 20px 20px;

}
.message.is-danger{
	background-color: #e1e1e1
}
.message.is-danger .message-body{
	color: #000;
	text-align: center;
	border: none;
	padding-bottom: 50px;
	font-weight: 400;
}
.message.is-danger .message-body p{
	padding-bottom: 25px;
	text-align: left
}
.message-body .control{
	justify-content: space-around;
}
.fa{vertical-align: baseline}
.fa.fa-exclamation-triangle{
	padding-right: 35px
}
.button , .input{
	padding: 2px 25px 4px;
	border-radius: 20px;
	font-size: 2rem;
	height: inherit;
	line-height: 2.5rem;
}
.input.short{
	padding: 2px 10px 4px 45px;
	width: 140px;
}

.button.is-dark{
	background-color: #7d7d7d;
}

.bulb{
	opacity: .5;
	margin-right: 15px;
	display: inline-block;
	height: 30px;
	width: 30px;
	background-color: #fff;
	border-radius: 50%;
	vertical-align: middle;
}
.bulb:first-child{margin-left: 30px}
.bulb.current{opacity: 1}

.button.is-danger.continue{
	padding-left: 20px;
	overflow: hidden;
	position: relative;
	background-color: #ff3860;
	padding-right: 40px;
}
.button.continue .fa.fa-angle-double-right{
	position: absolute;
	right: 0;
	background-color: #ad004d;
	height: 100%;
	width: 35px;
	top: 0;
}
.button.continue .fa.fa-angle-double-right:before{
	vertical-align: sub;
}

.message.is-danger .message-body .has-text-centered {
	color: #ad004d;
	text-align: center;
}

 form .button{
	margin-top: 10px
}
 form .button.arrow-but{
	 margin-top: 0
 }
.form-elems{
	justify-content: space-around;
}
.input{
	display: inline-block;
	background-color: transparent;
}

.control:not(:last-child){
	margin-bottom: 0
}
.arrow-but{
	position: relative;
	font-size: 2.5rem;
} 
.arrow-left:after, .arrow-right:before{
	width: 30px;
	height: 101%;
	background:#e1e1e1;
	content: ''; 
	z-index: 20;
	position: absolute;
	bottom: -1px;
}
.button.arrow-but.arrow-left{
	padding: 2px 45px 4px 20px;
}
.button.arrow-but.arrow-left::after{
	right: 0;
	border-radius:20px 0 0 20px;

}
.button.is-danger{
	background-color: #ad004d;
}
.button.arrow-but.arrow-right{
	padding: 2px 20px 4px 45px;
}
.button.arrow-but.arrow-right::before{
	left: 0;
	border-radius:0 20px 20px 0;
}

.slide-10 .select select{
	background-color: transparent;
	border: none;
	font-size: 2rem;
	color: #7d7d7d;
}
.form-elems{
	width: 100%
}
.slide-10 .input.short{
	padding-left: 30px;
}

.mobile-navi{
		display: none;
	}
p.error {
	text-align: center !important;
	font-size: 0.65em;
	color: #FF204C;
	padding: 5px 0;
	}

	.frame-box{
		display: none;
	}

.back-full .right-ban,.back-full .left-ban{
	width: 120px;
	height: 600px;
	position: fixed;
	z-index: 100;
	top: 250px;
	background: rgba(225, 225, 225, 0.35);
	color: #fff;
	text-align: center;
}
.back-full .left-ban{
	left: 0;
}
.back-full .right-ban{
	right: 0;
}


@media screen and(max-width:1200px) {
	body, .message-header,.button{
		font-size: 1.5rem;
	}
/* 	.back.back-right{
		display: none;
	} 
	.message.is-danger.slide-1{
		margin: -50px 0 0 -200px;
	}
	.back.back-left{
			background: url(images/left-bg.jpg); 
			background-size: cover;
			width: 100%;
			height: 100vh;
		}*/
	.slide-1 .button.is-dark{
		margin-bottom: 10px;
	}	
}
@media screen and (max-width:320px) {
	.logo {
		width: 90%;
		height: 50px;
	}
	.container{
		font-size: 1.2rem;
		width: 100%;
		height: 100%;
	}
	.message.is-danger.slide-1 span {
		font-size: 1.2rem;
		font-weight: bold
	}
}

@media screen and (max-width:460px) {
	body, .message-header, .button, .slide-10 .select select, .button, .input {
		font-size: 1rem;
	}

	.wrapper {
		justify-content: space-between;
		flex-direction: column;
	}

	.footer{
		padding: 0;
		align-self: flex-end;
		min-height: 240px;
		height: auto;
		background-color:#7d7d7d; 
	}
	.message.is-danger{
		max-width: 100%;
		width: 100%;
		min-height: 240px;
	}
	.back-full{
		background: url(images/right-bg.jpg) no-repeat;
		background-size: contain;
	}
	.back-full.back-2{
		background: url(images/left-bg.jpg) no-repeat;
		background-size: contain;
	}
	.back-full.back-2 .inner-back{
		display: none;
	}
	.back-full.back-2.back-3{
		background: url(images/mobback.jpg) no-repeat;
		background-size: contain;
	}
	.message{
		border-radius: 0;
	}
	.logo {
		width: 90%;
		height: 80px;
	}
	.invis{width: 45%;}
	.container{
		width: 100%;
		font-size: 19px;
		height: 100%;
		background-color: #e1e1e1
	}
	.center{
		width: 100%
	}
	.message.is-danger.slide-1 {
		width: 100%;
		margin:0
	}
	.message.is-danger .message-body{
		margin-bottom: 0
	}
	.message.is-danger .message-body p{
		font-size: 16px;
		line-height: 15px;
		padding-bottom: 10px
	}
	.message.is-danger .message-body span{
		font-size: 15px;
	}
	.slide-1 .message-header{
		border-radius: 0;
		padding: 0;
	}
	 .message-header{
		border-radius: 0;
	}
	.message-header p span{
		display: none
	}
	.slide-1 .message-header P{
		text-align: left;
		padding-left: 30px;
		font-size: 30px;
		
	}
	
	.message-body .is-dark{
		border-radius:   0 20px 20px 0;
	}
	.slide-2 .message-body .is-dark{
		border-radius: 20px;
	}
	.message-body .is-dark.splash, .button.is-danger.next{
		border-radius:20px 0 0 20px;
	}
	.button.is-danger.continue.next, .button.is-danger.is-outlined{
		border-radius:20px;
	}
	form {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	form  .button.is-danger.is-outlined{
		margin-right: 25px;
	}
	.arrow-left, .arrow-right{
		display: none;
	}

	.message.is-danger.slide-3{
		padding-bottom: 20px;
	}
	.slide-3 .message-body p{
		line-height: 16px;
	}
	.message.is-danger.slide-3 .message-body p {
		padding-bottom: 15px;
	}

	.slide-10 .input.short{
		padding-left: 15px
	}
	.input.short{
		width: 90px;
	}
	.mobile-navi{
		display: block;
	}

	.bulb{
		height: 12px;
		width: 12px;
		margin-right: 5px;
	}
	.bulb.current{
		background-color: #ed217c;
	}
	.button.continue .fa.fa-angle-double-right{
		padding-top: 10px;
	}
	.form-elems{
		flex-wrap: wrap;

	}
	.select{
		padding: 7px;
	}
	.button, .input{
		margin: 3px 0;
	}
	.double-arrow{
		padding: 10px 40px;
		opacity: .7
	}
	.button.is-danger.next.double-arrow{
		border-radius:0 20px 20px 0;
	}
	.message-body .is-dark.double-arrow{
		border-radius:20px 0 0 20px;
	}
	.back.back-left, .back.back-right{
		display: none;
	}
	.mobile-navi .bulb:first-child{
		margin-left: 0
	}
	.frame-box{
		display: block;
		height: 100px;
		width: 100%;
		text-align: center;
		background: rgba(225, 225, 225, 0.67);
		color: #fff;
		z-index: 100;
	}
	.back-full .right-ban,.back-full .left-ban{
		display: none;
	}
}

.link-block{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	z-index: 110
}
.link-block .delim{
	padding: 0 15px
}

.link-block a{
	color: #ff3860
}



 .text{
	flex-wrap: wrap;
	background: #747474;
	border: 1px solid #A8A7A7;
	border-radius: 16px;
	box-shadow: 2px 2px 8px 3px #222222;
	text-align: center;
	padding: 20px;
	box-sizing:border-box; 
	color: #1D1D1D;
	max-height: 600px;
	overflow-y: auto;
}
.text h1{
	font-weight: bold
}

.text p{
	margin: 7px 0;
	font-size: 1.4rem;
	text-align: justify;
	line-height: 1.3rem
}

