body{
	position: relative;
	font-size: 2rem;
}
.back{
	position: absolute;
	width: 50%;
	top: 0;
	min-height: 100vh;
	z-index: 1
}
.back.back-left{
	background: url(images/left-bg.jpg);
	left: 0;
}
.back.back-right{
	background: url(images/right-bg.jpg);
	right: 0;
}
.wrapper{
	position: relative;
	z-index: 10;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.header{
	padding-left: 15%;
	padding-top: 30px;
	flex: 1 1 100%;
}
.logo{
	width: 500px;
	height: 150px;
	background: url(images/logo.png) no-repeat;
	background-size: contain
}
.footer{
	max-width: 30%;
	align-self: flex-end;
	background-color: transparent;
}
.message{
	display: none;
	border-radius:20px; 
}
.message.active{
	display: block;
}
.is-danger{
	background-color: #ed217c;
}
.message-header{
	border-radius:20px 20px 0 0;

	text-align: center;
	}
.message-header+.message-body{
	border-radius:0 0 20px 20px;

}
.message.is-danger{
	background-color: #e1e1e1
}
.message.is-danger .message-body{
	color: #000;
	text-align: center;
	border: none;
}
.message.is-danger .message-body p{
	padding-bottom: 25px;
	text-align: left
}
.fa{vertical-align: baseline}
.fa.fa-exclamation-triangle{
	padding-right: 35px
}
.button{
	padding: 7px 50px 10px;
	border-radius: 20px;
	font-size: 2rem;
	height: inherit;
}
.button.is-dark{
	background-color: #7d7d7d;
}

.bulb{
	opacity: .5;
	margin-right: 20px;
	display: inline-block;
	height: 30px;
	width: 30px;
	background-color: #fff;
	border-radius: 50%;
	vertical-align: middle;
}
.bulb:first-child{margin-left: 80px}
.bulb.current{opacity: 1}

.button.continue{
	padding-left: 20px;
	overflow: hidden;
	position: relative;
}
.button.continue .fa.fa-angle-double-right{
	position: absolute;
	right: 0;
	background-color: #ad004d;
	height: 100%;
	width: 35px;
	top: 0;
}
.button.continue .fa.fa-angle-double-right:before{
	vertical-align: sub;
}