@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
	position: relative;
	font-size: 2rem;
}
.back-full{
	position: absolute;
	height: 100vh;
	width: 100%;
	background: url(images/full.jpg);
	background-size: cover;
}
.back{
	position: absolute;
	width: 50%;
	top: 0;
	min-height: 100vh;
	z-index: 1;
	display: none;
	background-size: cover
}
.invis{
	display: inline-block;
	width: 200px;
	height: 50px;
	margin-right: 50px;
	
}
.back.back-left{
	background: url(images/left-bg.jpg);
	left: 0;
}
.back.back-right{
	background: url(images/right-bg.jpg);
	right: 0;
}
.wrapper{
	position: relative;
	z-index: 10;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.header{
	padding-left: 15%;
	padding-top: 30px;
	flex: 1 1 100%;
}
.logo{
	width: 500px;
	height: 150px;
	background: url(images/logo.png) no-repeat;
	background-size: contain
}
.footer{
	width: 100%;
	background-color: transparent;
	padding: 10px 20px 350px;
}
.container{
	width: 50%;
	position: relative
}
.message{
	opacity: 0;
	position: absolute;
	border-radius:20px; 
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  margin-top: -300px;
}
@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}
.message.is-danger.slide-1{
	width: 75%;
	margin: -200px 0 0 -200px;
}
.message.is-danger.slide-1 span{
	font-size: 1.5rem;
}
.message.is-danger.slide-1 a{
	border: none;
}
.active {
	z-index: 10;
	opacity: 1;
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  margin-top: 0
}

.is-danger{
	background-color: #ed217c;
}
.message-header{
	border-radius:20px 20px 0 0;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 1.8rem;
	padding: 15px 10px
	}
.message-header+.message-body{
	border-radius:0 0 20px 20px;

}
.message.is-danger{
	background-color: #e1e1e1
}
.message.is-danger .message-body{
	color: #000;
	text-align: center;
	border: none;
	padding-bottom: 50px;
}
.message.is-danger .message-body p{
	padding-bottom: 25px;
	text-align: left
}
.message-body .control{
	justify-content: space-around;
}
.fa{vertical-align: baseline}
.fa.fa-exclamation-triangle{
	padding-right: 35px
}
.button , .input{
	padding: 2px 50px 4px;
	border-radius: 20px;
	font-size: 2rem;
	height: inherit;
	line-height: 2.5rem;
}
.input.short{
	padding: 2px 10px 4px 45px;
	width: 140px;
}

.button.is-dark{
	background-color: #7d7d7d;
}

.bulb{
	opacity: .5;
	margin-right: 20px;
	display: inline-block;
	height: 30px;
	width: 30px;
	background-color: #fff;
	border-radius: 50%;
	vertical-align: middle;
}
.bulb:first-child{margin-left: 80px}
.bulb.current{opacity: 1}

.button.continue{
	padding-left: 20px;
	overflow: hidden;
	position: relative;
}
.button.continue .fa.fa-angle-double-right{
	position: absolute;
	right: 0;
	background-color: #ad004d;
	height: 100%;
	width: 35px;
	top: 0;
}
.button.continue .fa.fa-angle-double-right:before{
	vertical-align: sub;
}

.message.is-danger .message-body .has-text-centered {
	color: #ad004d;
	text-align: center;
}

 form .button{
	margin-top: 10px
}
 form .button.arrow-but{
	 margin-top: 0
 }
.form-elems{
	justify-content: space-around;
}
.input{
	display: inline-block;
	background-color: transparent;
}

.control:not(:last-child){
	margin-bottom: 0
}
.arrow-but{
	position: relative;
	font-size: 2.5rem;
} 
.arrow-left:after, .arrow-right:before{
	width: 30px;
	height: 101%;
	background:#e1e1e1;
	content: ''; 
	z-index: 20;
	position: absolute;
	bottom: -1px;
}
.button.arrow-but.arrow-left{
	padding: 2px 45px 4px 20px;
}
.button.arrow-but.arrow-left::after{
	right: 0;
	border-radius:20px 0 0 20px;

}
.button.arrow-but.arrow-right{
	padding: 2px 20px 4px 45px;
}
.button.arrow-but.arrow-right::before{
	left: 0;
	border-radius:0 20px 20px 0;
}

@media all and (max-width:460px) {
	.message.is-danger.slide-1 {
		width: 50%;
		margin:0
	}
}
@media all and  (max-width:1200px) {
	.back.back-right{
		display: none;
	}
	.message.is-danger.slide-1{
		margin: -50px 0 0 -200px;
	}
	.back.back-left{
			background: url(images/left-bg.jpg);
			background-size: cover;
			width: 100%;
			height: 100vh;
		}
	.slide-1 .button.is-dark{
		margin-bottom: 10px;
	}	
}

p.error {
 text-align: center !important;
 font-size: 0.65em;
 color: #FF204C;
 padding: 5px 0;
}

.slide-10 .select select{
	background-color: transparent;
	border: none;
	font-size: 2rem;
	color: #7d7d7d;
}
.slide-10 .input.short{
	padding-left: 30px;
}